
@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int rezult = ViewBag.rezult ?? 0;
}

<h2>View1</h2>

<div class="container" style="margin-top:120px">
  
       
    <label>Your number is Zeroo!!!  :@ViewBag.rezult</label>
    <p></p>
</div>