

@{
    ViewBag.Title = "About";
    Layout = null;
}


<h2>About</h2>
<div>
    <p>Could the name of this website be any more appropriate? Bored Panda is the place you want to be when you want to discover interesting and visually 
        appealing content. It's a blog that publishes regular updates on the coolest finds in travel, photography, 
        illustration, animals, DIY, technology, design and all sorts of other great categories. You can also create an account to vote posts up or down. More »  
        </p> 
    <img src="https://fthmb.tqn.com/CWAGLF0rcBkaGqeZ9NPNLUNaHHY=/768x0/filters:no_upscale()/GettyImages-125832446-56d213503df78cfb37ca91c2.jpg">                    
</div>   

