
@{
    ViewBag.Title = "View2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View2</h2>

<div class="container" style="margin-top:120px">


    <label>Your number is less that 0!!!  :@ViewBag.rezult</label>
    <p></p>
</div>
